<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<%= flash[:success2] %>
<%= flash[:notice2] %>
<% if user_signed_in? %>
<div class="row">
<div class="container px-5 px-sm-0r">
  <div class="col-md-3">
    <h2>User info</h2>



  <table class="table2">

    <tr>
      <th>name</th>
      <td><%= @book.user.name %></td>
    </tr>

  <% if @book.user.profile_image.attached? %>
    <%= image_tag @book.user.profile_image,size:"100x100" %>
    <% else %>
    <%= image_tag 'no_image', size:"100x100" %>
    <% end %>

    <tr class="table2-2">
      <th>introduction</th>
      <td><%= @book.user.introduction %></td>
    </tr>
    </table>

    <div class="d-grid gap-2 col-9">
    <% if @user== current_user.id %>

     <%= link_to edit_user_path(@user.id),class: "btn btn-outline-secondary", method: :get do %>
    <i class="fa-solid fa-user-gear fa-lg"></i>
    <% end %>
    <% else %>
    <%= link_to user_path(@user.id),class: "btn btn-outline-secondary", method: :get do %>
    <i class="fa-solid fa-user-gear fa-lg"></i>

    <% end %>
    <% end %>
    </div>


    <h1>New books</h1>

    <h6>Title</h6>
  <%= form_with model: @newbook do |f| %>

    <%= f.text_field :title %>
    <h6>Opinion</h6>
    <%= f.text_area :body %></br>
  <%= f.submit 'Create Book', class: "btn btn-success" %>
</div>



  <% end %>


 <% else %>

 <% end %>
 <div class="col-md-8 offset-md-1">
<h2>Book detail</h2>
<table class="table">

  <tr>
      <%= link_to user_path(@book.user_id) do %>
      <th>
      <% if@book.user.profile_image.attached? %>
      <%= image_tag @book.user.profile_image,size:"100x100" %>
      <% else %>
      <%= image_tag 'no_image', size:"100x100" %>
      <% end %>

      </br><%= link_to @book.user.name, user_path(@book.user.id) %></th>
      <th><%= link_to @book.title, book_path(@book.id) %></th>
      <th><%= @book.body %></th>
      <% if @book.user_id == current_user.id %>
      <th><%= link_to 'Edit', edit_book_path(@book.id),class:"btn-sm btn-success" %></th>
      <th><%= link_to 'Destroy' , book_path(@book.id),class:"btn-sm btn-danger", method: :delete, "data-confirm" => "本当に消しますか？" %></th>
      <% end %>
  </tr>
  </div>
  </div>
       <% end %>
</table>

    </div>
    </div>
    </div>