<!DOCTYPE html>

<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/f1fbe89ccf.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>



  <body>
    <header>
     <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <%= link_to '/', class: "no-underline" do %>Bookers

    <% end %>
      <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
      <% if user_signed_in? %>


        <li class="nav-item">
          <%= link_to user_path(current_user.id), class: "no-underline" do %>
          <i class="fas fa-home"></i>Home
          <% end %>


        </li>
        <li class="nav-item">
          <%= link_to '/users', class: "no-underline" do %>
          <i class="fas fa-users"></i>Users
          <% end %>


        <li class="nav-item">
          <%= link_to books_path, class: "no-underline" do %>
          <i class="fas fa-book-open"></i>Books
          <% end %>

        <li class="nav-item2">
          <%= link_to destroy_user_session_path, method: :delete, class: "no-underline" do %>
          <i class="fas fa-sign-out-alt"></i>Log out
          <% end %>
        </li>



      <% else %>

        <li class="nav-item">
          <%= link_to '/', class: "no-underline" do %>
          <i class="fas fa-home"></i>Home
          <% end %>

        </li>
        <li class="nav-item">
          <%= link_to "/home/about",class:"no-underline" do %>
          <i class="fas fa-link"></i>About
          <% end %>

        </li>
        <li class="nav-item">
          <%= link_to new_user_registration_path,class:"no-underline" do %>
          <i class="fas fa-user-plus"></i>Sign up
          <% end %>
        </li>
        <li class="nav-item2">
          <%= link_to new_user_session_path,class:"no-underline" do %>
          <i class="fas fa-sign-in-alt"></i>Log in
          <% end %>
        </li>
      <% end %>
      </ul>
  </div>
  </div>
</nav>

    </header>





    <%= yield %>
</body>

</html>
